@model RegisterViewModel

<h2>Регистрация</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form asp-area="" asp-controller="Register" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
        <h4>Регистрация пользователя</h4>
        <hr />
        @Html.ValidationSummary(false)
        <div>
            Логин
            <div>
                @Html.EditorFor(model => model.UserName)
            </div>
        </div>
        <div>
            Пароль
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Зарегистрировать" />
            </div>
        </div>
    </form>
}
